:root {
  --homepage-background: #100a17;
  --sortingpage-background: #121b2c;
  --sortingpage-blured-background: #121b2ccc;
  --sortingpage-secondary-background: #192234;
  --graphpage-background: #869ac0;
  --graphpage-secondary-background: #b6c9ed;
  --physicspage-background: #8ec086;
  --muted-text: #ffffffa6;
  --graph-text: #d4e1fa;
  --muted-graph-text: #869ac0;
  --red-text: #c54f6b;
  --green-text: #48d08f;
  --yellow-text: #fad75b;
  --placeholder-text: #707d98;
}
