html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: var(--homepage-background);
}

.shadow-right-graph {
  background: -webkit-gradient(-90deg,transparent 0,var(--graphpage-secondary-background) 9px);
  background: linear-gradient(-90deg,transparent 0,var(--graphpage-secondary-background) 9px);
}

.shadow-left-graph {
  background: -webkit-gradient(90deg,transparent 0,var(--graphpage-secondary-background) 9px);
  background: linear-gradient(90deg,transparent 0,var(--graphpage-secondary-background) 9px);
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-y-sortingpage {
  overflow: hidden scroll;

  // &::-webkit-scrollbar {
  //   background-color: transparent;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: #303d58;
  //   border: solid 4px var(--sortingpage-background);
  //   border-radius: 12px;
  // }
}

.scroll-x-sortingpage {
  overflow: scroll hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  // &::-webkit-scrollbar {
  //   background-color: transparent;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: #303d58;
  //   border: solid 4px #192234;
  //   border-radius: 12px;
  // }
}

.scale-animate {
  animation: appear 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
  transform-box: fill-box;
  transform-origin: center;
}

.animate-navigation .animate-child {
  transition-duration: 1.25s;
  transform: translateY(-25px) scale(0.75);
  opacity: 0;
}

.animating-navigation {
  & .animate-child {
    transition-duration: 400ms;
    transform: translateY(0) scale(1);
    opacity: 1;

    &[data-delay="50"] {
      transition-delay: 50ms;
    }

    &[data-delay="100"] {
      transition-delay: 100ms;
    }

    &[data-delay="150"] {
      transition-delay: 150ms;
    }

    &[data-delay="200"] {
      transition-delay: 200ms;
    }
    &[data-delay="250"] {
      transition-delay: 250ms;
    }
  }
}

.mobile-navigation {
  transition: height 0.3s cubic-bezier(0.4, 0, 0.6, 1), background 0.2s ease;

  &.primary {
    background-color: var(--homepage-background);
  }

  &.darkBlue {
    background-color: var(--sortingpage-background);
  }

  &.lightBlue {
    background-color: var(--graphpage-background);
  }
}

.slide-left-in {
  opacity: 0;
  animation: slide-left-in 1s cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;
}

.slide-top-in {
  opacity: 0;
  animation: slide-top-in 1s cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;
  &-xl {
    @media (min-width: 1280px) {
      opacity: 0;
      animation: slide-top-in 1s cubic-bezier(0.16, 1, 0.3, 1);
      animation-fill-mode: forwards;
    }
  }
}

.slide-bottom-in {
  opacity: 0;
  animation: slide-bottom-in 1s cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

@keyframes slide-left-in {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-top-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-bottom-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
